body {
    margin: 0px;
    padding: 0px;
    font-family: "Source Sans Pro", Helvetica,arial,freesans,clean,sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #000000;
}

.cano-topbar-account {
    float: right;
    margin-top: 3px;
    margin-right: 32px;
    font-size: 16px;
}
.code {
    display: block;
    unicode-bidi: embed;
    font-family: monospace;
    white-space: pre;
    background: #f0f0f0;
    padding: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 14px;
    color: 153060;
}

.icode {
    display: inline-block;
    font-family: monospace;
    font-size: 14px;
    background: #f0f0f0;
    color: 153060;
    padding: 4px;
}

td {
    font-size: 20px;
}
.center_channel {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    font-family: "ABeeZee";
    font-size: 35px;
    color: #3060a0;
}
.cano-logo {
    font-family: "ABeeZee";
    font-size: 25px;
    color: #3060a0;
    margin-left: 24px;
}
.cano-sidebar {
    border-top: 10px solid #dcdad8;
    position: fixed;
    padding: 16px;
    padding-top: 8px;
    top: 46px;
    left: 8px;
    width: 200px;
    bottom: 8px;
    background: #f8f6f4;
}
a.cano-sidebar-item {
    color: #404040;
}
.cano-topbar {
    padding-top: 4px;
    padding-bottom: 4px;
    width: 100%;
    height: 30px;
    z-index: 100;
    background: #f0eeec;
}
.main-section {
    width: 100%;
    position: absolute;
    top: 56px;
}
.darkest {
    color: #000000;
}
.big {
    font-size: 34px;
}
.xxl {
    font-size: 50px;
}
.ml {
    font-size: 26px;
}
.s {
    font-size: 15px;
}
.thin {
    font-weight: 200;
}
h2 {
    font-weight: 200;
    font-size: 34px;
    margin-bottom: 0px;
}
.logo-in-text {
    font-family: "ABeeZee";
    color: #3060a0;
}
.logo-in-text-light {
    font-family: "ABeeZee";
    color: #a0b0f8;
}
.gray-section
{
    background: #283860;
    color: #ffffff;
}

.shutterstock-network
{
    background-color: #ffffff;
    background-image:url('http://image.shutterstock.com/display_pic_with_logo/1206974/130694135/stock-vector-molecule-and-communication-background-vector-illustration-graphic-design-useful-for-your-design-130694135.jpg');
    background-repeat: no-repeat;
    background-position: 460px -160px;;
}
.tbl-box
{
    padding: 16px;
    width: 270px;
    border-right: 2px solid #d0d0c0;
}
.hvy
{
    font-weight: 600;
}
.justify
{
    text-align: justify;
}
a, a.visited
{
    color: #3060a0;
    text-decoration: none;
}
a:hover
{
    color: #50a0ff
}
a.logo:hover
{
    color: #3060a0;
}

#status_panel
{
    position: fixed;
    font-size: 15px;
    left: 256px;
    top: 46px;
    right: 316px;
    height: 236px;
    border-top: 10px solid #dcdad8;
    background: #f8f6f4;
    padding: 16px;
    padding-top: 8px;
}

.cano-event-panel-title {
    font-weight: 300;
    font-size: 26px;
    color: #3060a0;
}

.cano-event-panel-time {
    font-size: 13px;
    color: #383838;
}
.cano-event-panel-message {
    font-size: 18px;
}

.cano-event-panel-green {
    background: #d0f8d0 !important;
}

.cano-event-panel-red {
    background: #f8d0d0 !important;
}

.cano-event-panel-outer {
    background: #e0ddda;
    border-radius: 4px;
    padding: 8px;
    line-height: 1.20;
    margin-bottom: 16px;
}

#rightbar {
    position: fixed;
    overflow: auto;
    top: 46px;
    right: 8px;
    height: 100%;
    width: 260px;
    border-top: 10px solid #dcdad8;
    background: #f8f6f4;
    padding: 16px;
    padding-top: 8px;
}
.warning_bar
{
    background: #ffff60;
    padding: 16px;
    border-radius: 5px;
    color: #000000;
}
.cano-chart
{
    position: fixed;
    top: 332px;
    bottom: 8px;
    left: 256px;
    right: 316px;
    border-top: 10px solid #dcdad8;
    background: #f8f6f4;
    padding: 16px;
    padding-top: 8px;
}
