a {
    color: #204080;
    text-decoration: none;
}
a:hover {
    color: #3060a0;
}
body {
    margin: 0px;
    padding: 0px;
    font-family: "Source Sans Pro", Helvetica,arial,freesans,clean,sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #000000;
    line-height: 1.333;
}

.small_margin_top {
    margin-top:12px;
}

.btn-small{
    display: inline-block; 
    border:1px solid #4060a0;
    background: #3060a0;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    border-radius: 2px;
    padding: 4px;
    cursor: pointer;
    line-height:1.333;
    background: linear-gradient(to top, #204080, #3060a0, #204080); /* Standard syntax */
}

.btn-small-not_selected{
    display: inline-block; 
    border:1px solid #a0a0a0;
    background: #d0d0d0;
    color: #303030;
    font-size: 14px;
    font-weight: 700;
    border-radius: 2px;
    padding: 4px;
    cursor: pointer;
    line-height:1.333;
    position:relative;
    top:-2px;
    left:-2px;
    box-shadow: 3px 3px 3px #b0b0b0;
    background: linear-gradient(to top, #c8c8c8, #d8d8d8, #c8c8c8); /* Standard syntax */
}
.btn-small-not_selected:hover{
    border:1px solid #c0c0c0;
    background: #f0f0f0;
    color: #505050;
    font-size: 14px;
    font-weight: 700;
    border-radius: 2px;
    padding: 4px;
    cursor: pointer;
}

.btn, input[type=submit] {
    display: inline-block; 
    border:1px solid #4060a0;
    background: #3060a0;
    color: #ffffff;
    font-weight: 700;
    border-radius: 2px;
    padding: 8px;
    cursor: pointer;
}

.btn_not_selected, input[type=submit] {
    display: inline-block; 
    border:1px solid #a0a0a0;
    background: #d0d0d0;
    color: #303030;
    font-weight: 700;
    border-radius: 2px;
    padding: 8px;
    cursor: pointer;
}

input[type=submit]:hover {
    background: #4080c0;
}

input[type=text], input[type=password] {
    border:1px solid #c0c0c0;
    background: #ffffff;
    color: #000000;
    border-radius: 0px;
    padding: 8px;
}
.l {
    font-size: 34px;
}
.big {
    font-size: 34px;
}
.xxl {
    font-size: 50px;
}
.ml {
    font-size: 26px;
}
.ms {
    font-size: 18px;
}
.s {
    font-size: 15px;
}
.thin {
    font-weight: 200;
}
.thicker {
    font-weight: 400;
}

h2 {
    font-weight: 200;
    font-size: 34px;
    margin-bottom: 0px;
}
.logo-in-text {
    font-family: "ABeeZee";
    color: #204080;
}
.logo-in-text-light {
    font-family: "ABeeZee";
    color: #a0b0f8;
}
.center_channel {
    width: 1004px;
    margin-left: auto;
    margin-right: auto;
}

.cano-dialog {
    text-align: left;
    border-top: 10px solid #d8d8d8;
    display: inline-block;
    padding: 16px;
    padding-top: 8px;
    background: #f4f4f4;
    vertical-align:top;
    margin-bottom: 16px;
    border-bottom: 1px solid #d8d8d8;
    box-shadow: 2px 2px 8px #a0a0a0;
}

.cano-main_page-outer{
    vertical-align:top;
}
.cano-main_page-left-section {
    width: 244px;
    padding:6px;
    margin:0px;
    display: inline-block;
    vertical-align:top;
}
.cano-main_page-middle-section {
    width: 480px;
    padding:6px;
    margin:0px;
    display: inline-block;
    vertical-align:top;
}
.cano-main_page-left-and-middle-section {
    width: 736px;
    padding:0px;
    margin:0px;
    display: inline-block;
    vertical-align:top;
}
.cano-main_page-right-section {
    width: 244px;
    padding:6px;
    margin:0px;
    display: inline-block;
    vertical-align:top;
}

.cano-topbar-outer {
    top: 0px;
    width: 100%;
    border-bottom: 2px solid #d0d0d0;
    background: #f8f8f8;
    background: linear-gradient(to bottom, #ffffff,#ffffff, #f4f4f4); /* Standard syntax */
}

.cano-topbar-left-section {
    display: inline-block;
    width: 244px;
    padding: 6px;
    margin:0px;
    vertical-align: baseline;
}
.cano-topbar-middle-section {
    display: inline-block;
    width: 480px;;
    padding: 6px;
    margin:0px;
    padding-bottom:0px;
    vertical-align: baseline;
}
.cano-topbar-right-section {
    display: inline-block;
    width: 244px;
    margin:0px;
    vertical-align: baseline;
    padding: 6px;
    text-align: right;
}

.cano-devices_list-outer {
    padding-top:4px;
}

.cano-devices_list_item-outer {
    width:736px;
    border-bottom:1px dashed #d8d8d8;
    padding-top:4px;
    padding-bottom:4px;
}

.cano-devices_list_item-disconnected {
    color: #a00000;
}

.cano-devices_list_item-left-section {
    display: inline-block;
    width: 256px;
    padding: 0px;
    margin:0px;
    vertical-align: top;
}

.cano-devices_list_item-right-section {
    display: inline-block;
    width: 480px;
    height:64px;
    padding: 0px;
    margin-top:3px;
    margin-bottom:9px;
    vertical-align: top;
}

.cano-devices_list_item-link {
    cursor: pointer;
    padding:6px;
    border-radius:6px;
}

.cano-devices_list_item-link:hover {
    background:#e8f4ff;
}
.cano-devices_list_item-link:hover img {
    box-shadow: 2px 2px 8px #204080 !important; 
}
.cano-dialog-flat {
    text-align: left;
    border-top: 8px solid #d8d8d8;
    display: inline-block;
    padding: 16px;
    padding-top: 8px;
    background: #f4f4f4;
    vertical-align:top;
    border-bottom: 1px solid #d8d8d8;
}
.cano-event_panel-outer {
    font-size:18px;
    text-align: left;
    border-top: 8px solid #d8d8d8;
    display: inline-block;
    padding-top: 4px;
    background: #f4f4f4;
    vertical-align:top;
    border-bottom: 1px solid #d8d8d8;
}
.cano-event_panel-item {
    border-bottom: 1px solid #d0d0d0;
    padding:8px;
}
.cano-banner-dialog {
    text-align: left;
    border-top: 1px solid #d8d8d8;
    display: inline-block;
    padding: 16px;
    padding-top: 8px;
    background: #f4f4f4;
    vertical-align:top;
    margin-bottom: 16px;
    border-bottom: 1px solid #d8d8d8;
    box-shadow: 2px 2px 8px #a0a0a0;
}
.cano-warning-small {
    background: #ffff80;
    font-weight: 400;
    font-size: 15px;
    padding:8px;
    margin-top:8px;
    border: 1px solid #a0a0a0;
}

.cano-login_page-dialogs-outer {
    position: absolute;
    display: inline-block;
    right: 0px;
    top: 55px;
}

.cano-login_page-images-outer {
    position: absolute;
    display: inline-block;
    left: 0px;
    top: 80px;
    text-align: center;
}

.cano-devices_menu-outer {
    width: 724px;
    padding: 6px;
    padding-bottom: 0px;
    border-bottom: 2px solid #d0d0d0;
}

.cano-devices_menu-button {
    text-align: center;
    display: inline-block;
    line-height: 0.9;
    cursor: pointer;
    padding-bottom: 6px;
}

.cano-devices_menu-button:hover {
    border-bottom: 2px solid #3060a0;
    padding-bottom: 4px;
}

.cano-account_dropdown-outer {
    position:relative;
    display: inline-block;
}
.cano-account_dropdown-inner {
    position:absolute;
    background:#fffff0;
    padding:8px;
    border-radius: 4px;
    box-shadow: 2px 2px 4px #808080;
    right:-8px;
    top:13px;
}
